orgMetadata/force-app/main/default/flows/IPS_BRCKPT_CreatePortalUserFromContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Contact_Have_Portal_User</name>
        <label>Contact Have Portal User</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>sc_Create_Portal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without Portal User</defaultConnectorLabel>
        <rules>
            <name>With_Portal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Portal_User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sc_Related_Portal_User</targetReference>
            </connector>
            <label>With Portal User</label>
        </rules>
    </decisions>
    <description>IPS_BRCKPT_CreatePortalUserFromContact</description>
    <interviewLabel>IPS_BRCKPT_CreatePortalUserFromContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPS_BRCKPT_CreatePortalUserFromContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Patient Record</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Portal_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Portal_User</name>
        <label>Get Related Portal User</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Have_Portal_User</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <screens>
        <name>sc_Create_Portal_User</name>
        <label>sc_Create_Portal_User</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;Do you want to create a portal user&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sc_Related_Portal_User</name>
        <label>sc_Related_Portal_User</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_Related_User</name>
            <fieldText>&lt;p&gt;Contact Has Portal User.&lt;/p&gt;&lt;p&gt;Related Portal User = &lt;strong&gt;&lt;em&gt;{!Get_Related_Portal_User.Username}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Contact_Record</startElementReference>
    <status>Active</status>
    <variables>
        <description>Input Record ID of Contact Record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
