orgMetadata/force-app/main/default/flows/NSA_Deactivate_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deactivate_Group_Related_Users</name>
        <label>Deactivate Group Related Users</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <actionName>NSA_DeactivateUsers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Results</targetReference>
        </connector>
        <inputParameters>
            <name>contactsList</name>
            <value>
                <elementReference>patientsContactIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Terminate_Open_Eligibilities</name>
        <label>Terminate Open Eligibilities</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <actionName>NSA_DeactivateGroup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Related_Patients</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>terminationDate</name>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_To_patientsAccountIds</name>
        <label>Add To patientsAccountIds</label>
        <locationX>270</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>patientsAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Patients.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Patients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_patientsContactIds</name>
        <label>Add To patientsContactIds</label>
        <locationX>270</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>patientsContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Patients.Portal_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_patientsAccountIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Total_Of_Household_Accounts</name>
        <label>Get Total Of Household Accounts</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>totalPatientsAccountIds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>patientsAccountIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Household_Accounts</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Account_Inactive</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Related_Released_Group_Exist</name>
        <label>Check If Related Released Group Exist</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Terminate_Open_Eligibilities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Released_Group_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Released_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Un_Release_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>flowExecutionTime</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime} - {!$Flow.InterviewStartTime})  * 24 * 60 * 60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Deactivate Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Group</label>
    <loops>
        <name>Loop_Through_Patients</name>
        <label>Loop Through Patients</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_Related_Patients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_To_patientsContactIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Total_Of_Household_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Un_Release_Group</name>
        <label>Un-Release Group</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Terminate_Open_Eligibilities</targetReference>
        </connector>
        <filters>
            <field>IntPS_NSA__Employee_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>IntPS_NSA__Release__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Health_Plans</name>
        <label>Get Health Plans</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Health_Plans</targetReference>
        </connector>
        <filters>
            <field>IntPS__Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>IntPS__Health_Plan__c</object>
        <sortField>IntPS__ExternalID__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patients</name>
        <label>Get Related Patients</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Patients</targetReference>
        </connector>
        <filters>
            <field>IntPS__Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Create_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IntPS__Patient__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Released_Group</name>
        <label>Get Related Released Group</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Related_Released_Group_Exist</targetReference>
        </connector>
        <filters>
            <field>IntPS_NSA__Employee_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>IntPS_NSA__Release__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Related_Released_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IntPS_NSA__Active__c</field>
            <value>
                <elementReference>Account_Inactive</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Health_Plans</name>
        <label>Update Health Plans</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filters>
            <field>IntPS__Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IntPS__Term_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IntPS__Term_Date__c</field>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <object>IntPS__Health_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Household_Accounts</name>
        <label>Update Household Accounts</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Deactivate_Group_Related_Users</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>patientsAccountIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IntPS_NSA__Active__c</field>
            <value>
                <elementReference>Account_Inactive</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Check_Health_Plans</name>
        <label>Check Health Plans</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Health_Plans</targetReference>
        </connector>
        <fields>
            <name>Health_Plans</name>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Health Plans</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Health_Plans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;IntPS__ExternalID__c&quot;,&quot;guid&quot;:&quot;column-00d7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;External ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2f6a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Plan Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;IntPS__Begin_Date__c&quot;,&quot;guid&quot;:&quot;column-bacd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Begin Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;IntPS__Term_Date__c&quot;,&quot;guid&quot;:&quot;column-d056&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Term Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Health_Plans</targetReference>
        </connector>
        <fields>
            <name>Input_Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Group = {!recordId.IntPS__External_ID__c}  - {!recordId.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Termination_Date</name>
            <dataType>Date</dataType>
            <fieldText>Termination Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Output_Results</name>
        <label>Output Results</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result_Display</name>
            <fieldText>&lt;p&gt;Plan = &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Terminate_Open_Eligibilities.hpExternalId} - Count Of Closed Eligibilities = &lt;/span&gt;{!Terminate_Open_Eligibilities.countUpdElg}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Number of Deactivated Houshold Accounts = {!totalPatientsAccountIds}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Number of Deactivated Users = {!Deactivate_Group_Related_Users.countUpdUsr}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Execution Time in sec = {!flowExecutionTime}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Input_Screen</startElementReference>
    <status>Active</status>
    <variables>
        <name>patientsAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientsContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Total of Patients Accounts IDs</description>
        <name>totalPatientsAccountIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>A collection of Users to be updated</description>
        <name>usersToDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
