orgMetadata/force-app/main/default/flows/Test_Fault_Path.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contact_Record</name>
        <label>Assign Contact Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>contactRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>003Qy00000ByUo7IAF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sc_Download_Report</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cons_FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Test Fault Path</stringValue>
        </value>
    </constants>
    <interviewLabel>Test Fault Path {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Fault Path</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact Rec</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>sc_Error_Panel</targetReference>
        </faultConnector>
        <inputReference>contactRec</inputReference>
    </recordCreates>
    <screens>
        <name>sc_Download_Report</name>
        <label>sc_Download_Report</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>ips_ReportDonwnloader</name>
            <extensionName>c:reportDownloader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>reportId</name>
                <value>
                    <stringValue>00OQy00000DtTZ3MAN</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sc_Error_Panel</name>
        <label>sc_Error_Panel</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errCaseCreator</name>
            <extensionName>c:errorCaseCreator_v1</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowFaultMessage</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowName</name>
                <value>
                    <elementReference>cons_FlowName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Assign_Contact_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
