orgBackup/force-app/main/default/flows/NSA_Deactivate_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Terminate_Open_Eligibilities</name>
        <label>Terminate Open Eligibilities</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>NSA_DeactivatePlan</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>output_creen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>hpList</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>terminationDate</name>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Count_Upd_Elg</assignToReference>
            <name>countUpdElg</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Get_Count_Of_Health_Plans</name>
        <label>Get Count Of Health Plans</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>CountOfHealthPlans</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Health_Plan</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ExecutionTime</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime} - {!$Flow.InterviewStartTime})  * 24 * 60 * 60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>NSA_Deactivate_Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NSA_Deactivate_Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Health_Plan</name>
        <label>Get Health Plan</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deactivate_Health_Plan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <object>IntPS__Health_Plan__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Health_Plan</name>
        <label>Update Health Plan</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Terminate_Open_Eligibilities</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IntPS__Term_Date__c</field>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <object>IntPS__Health_Plan__c</object>
    </recordUpdates>
    <screens>
        <name>Deactivate_Health_Plan</name>
        <label>Deactivate Health Plan</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Health_Plan</targetReference>
        </connector>
        <fields>
            <name>Display_Details</name>
            <fieldText>&lt;p&gt;Count Of Selected Plans = {!CountOfHealthPlans}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Termination_Date</name>
            <dataType>Date</dataType>
            <fieldText>Termination Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Something just went wrong. Please review the error message:

Error: {!$Flow.FaultMessage}
Error Time: {!$Flow.CurrentDateTime}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>output_creen</name>
        <label>output Screen</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>output_result</name>
            <fieldText>&lt;p&gt;Number Of Closed Eligibilities = {!Count_Upd_Elg}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Time Taken For Execution =  {!ExecutionTime} sec.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Count_Of_Health_Plans</startElementReference>
    <status>Active</status>
    <variables>
        <name>Count_Upd_Elg</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOfHealthPlans</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
